In [4]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

## 데이터 테이블 생성

In [3]:
import pymysql

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
cursor = conn.cursor()

# 테이블 생성 쿼리
create_table_query = '''
CREATE TABLE fingerbics (
  user_id INT AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(255),
  success_count1 INT(11) NOT NULL,
  success_count2 INT(11) NOT NULL,
  success_count3 INT(11) NOT NULL,
  datetime DATETIME NOT NULL,
  FOREIGN KEY (name) REFERENCES user_info(name)
)
'''
try:
    # 쿼리 실행
    cursor.execute(create_table_query)
    print("Table 'fingerbics' created successfully!")
except pymysql.Error as e:
    print(f"Error creating table: {e}")

# 연결 종료
conn.close()

Table 'fingerbics' created successfully!

In [10]:
import pymysql

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
cursor = conn.cursor()

# 테이블 생성 쿼리
create_table_query = '''
CREATE TABLE user_info (
  name VARCHAR(255)
)
'''

try:
    # 쿼리 실행
    cursor.execute(create_table_query)
    print("Table 'user_info' created successfully!")
except pymysql.Error as e:
    print(f"Error creating table: {e}")

# 연결 종료
conn.close()

Table 'user_info' created successfully!

In [16]:
import pymysql

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
cursor = conn.cursor()

# user_info 테이블에 인덱스 생성
create_index_query = '''
CREATE INDEX idx_name ON user_info (name);
'''

try:
    # 쿼리 실행
    cursor.execute(create_index_query)
    print("Index 'idx_name' created successfully!")
except pymysql.Error as e:
    print(f"Error creating index: {e}")

Index 'idx_name' created successfully!

## 데이터 테이블 df로 확인

In [5]:
import pymysql
import pandas as pd

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)

# SQL 쿼리
query = "SELECT * FROM user_info"

try:
    # 쿼리 실행하여 데이터프레임으로 가져오기
    df = pd.read_sql(query, conn)

except pymysql.Error as e:
    print(f"Error executing query: {e}")

# 연결 종료
conn.close()

df

C:\Users\user\AppData\Local\Temp\ipykernel_14968\2995542133.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

  name
0  김미진
1  송명주
2  이송현
3  정지원

In [10]:
import pymysql
import pandas as pd

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)

# SQL 쿼리
query = "SELECT * FROM fingerbics"

try:
    # 쿼리 실행하여 데이터프레임으로 가져오기
    df = pd.read_sql(query, conn)
    
    # 결과 출력
    print(df)

except pymysql.Error as e:
    print(f"Error executing query: {e}")

# 연결 종료
conn.close()

df

   user_id name  success_count1  success_count2  success_count3  \
0        1  김미진               3               3               0
1        2  정지원               2               0               0

             datetime
0 2024-03-05 11:45:06
1 2024-03-05 11:51:55

C:\Users\user\AppData\Local\Temp\ipykernel_14968\2858598527.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,user_id,name,success_count1,success_count2,success_count3,datetime
0,1,김미진,3,3,0,2024-03-05 11:45:06
1,2,정지원,2,0,0,2024-03-05 11:51:55

## 테이터 테이블에 데이터 삽입

In [14]:
import pymysql

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
cursor = conn.cursor()

# 삽입할 데이터
data_to_insert = [
    ( '김미진'),
    ( '송명주'),
    ( '이송현'),
    ( '정지원')
]

# 삽입 쿼리
insert_query = "INSERT INTO user_info (name) VALUES ( %s)"

try:
    # 데이터 삽입
    cursor.executemany(insert_query, data_to_insert)
    
    # 변경사항 커밋
    conn.commit()
    
    print("Data inserted successfully!")
except pymysql.Error as e:
    # 변경사항 롤백
    conn.rollback()
    print(f"Error inserting data: {e}")

# 연결 종료
conn.close()

Data inserted successfully!

## 테이터 테이블 지우기

In [2]:
import pymysql

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
cursor = conn.cursor()

# 삭제할 테이블 이름
table_name = 'fingerbics'

# 테이블 삭제 쿼리
drop_table_query = f"DROP TABLE IF EXISTS {table_name}"

try:
    # 쿼리 실행
    cursor.execute(drop_table_query)
    print(f"Table '{table_name}' dropped successfully!")
except pymysql.Error as e:
    print(f"Error dropping table: {e}")

# 연결 종료
conn.close()

Table 'fingerbics' dropped successfully!

In [8]:
from flask import Flask, jsonify

import pymysql

app = Flask(__name__)

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'
        # conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
        # cursor = conn.cursor()
@app.route('/insert_data')
def insert_data():
    try:
        # 데이터베이스 연결
        conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
        cursor = conn.cursor()
        data_to_insert = [
            ('이송현', '3', '3', '2', '2024-03-05 11:55:06'),
            ('김미진', '3', '3', '2', '2024-03-06 12:45:06'),
            ('송명주', '2', '0', '0', '2024-03-06 09:45:06'),
            ('정지원', '3', '3', '3', '2024-03-07 11:45:06'),
        ]
        
        # 삽입 쿼리
        insert_query = "INSERT INTO users ( success_count1, success_count2, success_count3) VALUES ( %s, %s, %s, %s, %s)"
        # 데이터 삽입
        cursor.executemany(insert_query, data_to_insert)
        
        # 변경사항 커밋
        conn.commit()
        
        return jsonify({"message": "Data inserted successfully!"}), 200
    except pymysql.Error as e:
        # 변경사항 롤백
        if 'conn' in locals():
            conn.rollback()
        return jsonify({"error": f"Error inserting data: {e}"}), 500
    finally:
        # 연결 종료
        if 'conn' in locals():
            conn.close()

if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with stat

SystemExit: 1

C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\IPython\core\interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)