In [ ]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

## 데이터 테이블 생성

In [ ]:
import pymysql

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
cursor = conn.cursor()

# fingerbics 테이블 생성 쿼리
create_table_query = '''
CREATE TABLE fingerbics (
  user_id INT AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(255),
  success_count1 INT(11) NOT NULL,
  success_count2 INT(11) NOT NULL,
  success_count3 INT(11) NOT NULL,
  datetime DATETIME NOT NULL,
  FOREIGN KEY (name) REFERENCES user_info(name)
)
'''
try:
    # 쿼리 실행
    cursor.execute(create_table_query)
    print("Table 'fingerbics' created successfully!")
except pymysql.Error as e:
    print(f"Error creating table: {e}")

# 연결 종료
conn.close()

Table 'fingerbics' created successfully!

In [ ]:
import pymysql

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
cursor = conn.cursor()

# user_info 테이블 생성 쿼리
create_table_query = '''
CREATE TABLE user_info (
  name VARCHAR(255)
)
'''

try:
    # 쿼리 실행
    cursor.execute(create_table_query)
    print("Table 'user_info' created successfully!")
except pymysql.Error as e:
    print(f"Error creating table: {e}")

# 연결 종료
conn.close()

Table 'user_info' created successfully!

In [ ]:
import pymysql

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
cursor = conn.cursor()

# user_info 테이블에 인덱스 생성
create_index_query = '''
CREATE INDEX idx_name ON user_info (name);
'''

try:
    # 쿼리 실행
    cursor.execute(create_index_query)
    print("Index 'idx_name' created successfully!")
except pymysql.Error as e:
    print(f"Error creating index: {e}")

Index 'idx_name' created successfully!

## 데이터 테이블 df로 확인

In [ ]:
import pymysql
import pandas as pd

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)

# usef_info 확인 SQL 쿼리
query = "SELECT * FROM user_info"

try:
    # 쿼리 실행하여 데이터프레임으로 가져오기
    df = pd.read_sql(query, conn)

except pymysql.Error as e:
    print(f"Error executing query: {e}")

# 연결 종료
conn.close()

df

C:\Users\user\AppData\Local\Temp\ipykernel_14968\2995542133.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

  name
0  김미진
1  송명주
2  이송현
3  정지원

In [ ]:
import pymysql
import pandas as pd

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)

# fingerbics 확인 SQL 쿼리
query = "SELECT * FROM fingerbics"

try:
    # 쿼리 실행하여 데이터프레임으로 가져오기
    df = pd.read_sql(query, conn)

    # 결과 출력
    print(df)

except pymysql.Error as e:
    print(f"Error executing query: {e}")

# 연결 종료
conn.close()

df

   user_id name  success_count1  success_count2  success_count3  \
0        1  김미진               3               3               0
1        2  정지원               2               0               0

             datetime
0 2024-03-05 11:45:06
1 2024-03-05 11:51:55

C:\Users\user\AppData\Local\Temp\ipykernel_14968\2858598527.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,user_id,name,success_count1,success_count2,success_count3,datetime
0,1,김미진,3,3,0,2024-03-05 11:45:06
1,2,정지원,2,0,0,2024-03-05 11:51:55

## 테이터 테이블에 데이터 삽입

In [ ]:
import pymysql

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
cursor = conn.cursor()

# 삽입할 데이터
data_to_insert = [
    ( '김미진'),
    ( '송명주'),
    ( '이송현'),
    ( '정지원')
]

# 삽입 쿼리
insert_query = "INSERT INTO user_info (name) VALUES ( %s)"

try:
    # 데이터 삽입
    cursor.executemany(insert_query, data_to_insert)

    # 변경사항 커밋
    conn.commit()

    print("Data inserted successfully!")
except pymysql.Error as e:
    # 변경사항 롤백
    conn.rollback()
    print(f"Error inserting data: {e}")

# 연결 종료
conn.close()

Data inserted successfully!